body{
    background-color: #ff80ab
}
.pdice{
text-align: center;
    background-color: #e0e0e0;
}
#bod{
    border: 2px solid black;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
}
#bos{
 border: 2px solid black;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
}
.bt2{
    display: none;
}
.game{
  display: none;
}
.congrats{
  display: none;
}
#reset{

margin-left: 650px;}
