body{
    background-color: #ff80ab
}
.pdice{
    background-color: #e0e0e0;
}
nav:hover{
  text-decoration: underline;
}
.gm{
  text-align: center;
}
#hom{
  margin-left: 530px;
}
#start{
  margin-left: 360px;
}
#name1{
  margin-left: 50px;
}
.bt1,.bt2{
  margin-top: 160px;
}
#bodx{
  border: 2px solid black;
  border-radius: 40px;
  padding: 30px;
  text-align: center;
}
#bod{
    border: 2px solid black;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
}
.copyright{
  margin-left: 620px;
}
#bos{
 border: 2px solid black;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
}

.bt2{
    display: none;
}
.game{
  display: none;
}
.congrats{
  display: none;
    font-family: 'Srisakdi', cursive;
  text-align: center;
  font-size: 30px;
}
#reset{

margin-left: 540px;}
